<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Special Offer</title>
    <th:block th:replace="~{fragments/resources :: bootstrap-head}"></th:block>
</head>
<body>

<th:block th:replace="~{fragments/navbar :: navbar}"></th:block>

<div class="container mt-5">
    <h1 class="text-center mb-4">Edit Special Offer ✏️</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form th:object="${specialOffer}" th:action="@{/special-offers/edit/{id}(id=${specialOffer.id})}"  method="post">
                
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{pizza.id}" />

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" th:field="*{title}" class="form-control" />
                    <div th:if="${#fields.hasErrors('title')}" class="alert alert-danger mt-2" th:errors="*{title}"></div>
                </div>

                <div class="mb-3">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input type="date" th:field="*{startDate}" class="form-control" />
                    <div th:if="${#fields.hasErrors('startDate')}" class="alert alert-danger mt-2" th:errors="*{startDate}"></div>
                </div>

                <div class="mb-3">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="date" th:field="*{endDate}" class="form-control" />
                    <div th:if="${#fields.hasErrors('endDate')}" class="alert alert-danger mt-2" th:errors="*{endDate}"></div>
                    <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
                        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <a th:href="@{/menu/{id}(id=${specialOffer.pizza.id})}" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="~{fragments/resources :: bootstrap-scripts}"></th:block>
</body>
</html>
