<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{fragments/resources :: bootstrap-head}"></th:block>
    </head>
  <body>
    <th:block th:fragment="deleteModal(pizza)">
      <div class="modal fade" th:id="'deleteModal-' + ${pizza.id}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete <strong th:text="${pizza.name}">this pizza</strong>?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <form th:action="@{'/menu/delete/' + *{id}}" method="post" th:object="${pizza}">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </th:block>

    <th:block th:replace="~{fragments/resources :: bootstrap-scripts}"></th:block>

  </body>
</html>
