<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">La Mia Pizzeria</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${currentUri == '/' or currentUri == '' ? 'active' : ''}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${currentUri == '/menu' ? 'active' : ''}" href="/menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${currentUri == '/ingredients' ? 'active' : ''}" href="/ingredients">Ingredients</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
